.glx-button {
    /* box-sizing: border-box;
    display: block;
    vertical-align: middle;
    position: relative; */
    margin: 0;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-image: -webkit-gradient(linear,right top,left top,from(#6b0df9),to(#c60ce2));
    background-image: -webkit-linear-gradient(right,#6b0df9,#c60ce2);
    background-image: linear-gradient(270deg,#6b0df9 0,#c60ce2);
    box-shadow: 0 2px 32px 0 rgba(128,13,244,.41);
    min-width: 250px;
    word-spacing: 4px;
    opacity: 1;
    -webkit-transition: -webkit-filter .15s ease-out;
    transition: -webkit-filter .15s ease-out;
    transition: filter .15s ease-out;
    transition: filter .15s ease-out,-webkit-filter .15s ease-out;
}